# Pair programming EDA

## Ejercicios de exploración del conjunto de datos

1_ Muestra las primeras 5 filas del conjunto de datos.

02_Muestra las últimas 5 filas del conjunto de datos.

03_Muestra una muestra aleatoria de 5 filas del conjunto de datos.

04_Muestra el número total de filas y columnas en el conjunto de datos.

05_Muestra el nombre de todas las columnas en el conjunto de datos.

06_Muestra los valores únicos en la columna "Abbreviation".

07_Cuenta cuántas veces aparece cada valor único en la columna "Abbreviation".

08_Verifica si hay valores nulos en el conjunto de datos.

09_Verifica si hay valores no nulos en el conjunto de datos.

10_Muestra información general sobre el conjunto de datos.

11_Elimina una columna específica (por ejemplo, "Armed Forces size").

12_Selecciona las columnas numéricas del conjunto de datos y muestra sus estadísticas descriptivas básicas (para esto tendréis que usar el método '.describe(), su documentación la tenéis aquí).

## Ejercicios con loc e iloc

01_Selecciona todas las columnas de las filas 2 a 4 (inclusive) utilizando loc.

02_Utilizando loc, filtra el conjunto de datos para mostrar solo las filas donde la densidad (columna "Birth Rate") es mayor a 30.

03_Utilizando loc selecciona las columnas "Country" y "Capital/Major City" de las filas donde el porcentaje de tierra agrícola (columna "Fertility Rate") es superior al 3.

04_Encuentra el valor de "Gasoline Price" para el país cuya abreviatura es "AL" utilizando loc.

05_Selecciona todas las columnas para el país cuya capital es "Tirana" utilizando loc.

06_Filtra el conjunto de datos para mostrar solo las filas donde el índice de CPI (columna "CPI") sea igual a 128.85.

07_Encuentra la densidad (columna "Density\n(P/Km2)") para el país cuya abreviatura es "AD" utilizando loc.

08_Selecciona las columnas "Country" y "Co2-Emissions".

09_Filtra el conjunto de datos para mostrar solo las filas donde el índice de CPI cambió un 2% (columna "CPI Change (%)").

10_Encuentra la tasa de natalidad (columna "Birth Rate") para el país con la abreviatura "AF" utilizando loc.

11_Selecciona todas las columnas de las filas 3 a 5 (excluyendo la fila 5) utilizando iloc.

12_Selecciona las columnas 1, 3 y 6 para todas las filas utilizando iloc.

13_Selecciona todas las filas de las columnas 0 a 4 (excluyendo la columna 4) utilizando iloc.

14_Encuentra el valor en la fila 2 y columna 7 utilizando iloc.

15_Selecciona todas las filas para las columnas 0, 2, y 5 utilizando iloc.

16_Selecciona las filas 0, 2 y 4 para todas las columnas utilizando iloc.

17_Encuentra el valor en la última fila y la última columna utilizando iloc.

18_Selecciona las filas 1 a 3 (inclusive) para todas las columnas utilizando iloc.

19_Selecciona todas las filas para las columnas 1, 4 y 6 utilizando iloc.

20_Encuentra el valor en la fila 4 y columna 2 utilizando iloc.