## Aplica programación en pareja Agrupación de Datos y Método

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
df=pd.read_csv("world_data_total.csv", index_col=0)

# Ejercicios apply

1. Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponda

In [3]:
df.columns

Index(['country', 'density', 'abbreviation', 'agriculturalland', 'landarea',
       'armedforcessize', 'birthrate', 'callingcode', 'capital/majorcity',
       'co2-emissions', 'cpi', 'cpichange', 'currency-code', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'largestcity', 'lifeexpectancy',
       'maternalmortalityratio', 'minimumwage', 'officiallanguage',
       'outofpockethealthexpenditure', 'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'latitude', 'longitude'],
      dtype='object')

In [4]:
df.sample(5)

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitude,longitude
169,Switzerland,219,CH,38.4,"41,277","21,000",10.00,41.0,Bern,"34,477",99.55,0.4,CHF,1.52,31.8,1.45,7.030824e+11,105.2,59.6,3.7,Z���,83.6,5.0,NaN,German,28.3,4.30,"8,574,832",68.3,10.1,28.8,4.58,"6,332,428",46.818188,8.227512
151,Saudi Arabia,16,SA,80.8,"2,149,690","252,000",17.80,966.0,Riyadh,"563,449",118.4,-1.2,SAR,2.32,0.5,0.24,7.929668e+11,99.8,68.0,6.0,Riyadh,75.0,17.0,3.85,Arabic,15.0,2.61,"34,268,528",55.9,8.9,15.7,5.93,"28,807,838",23.885942,45.079162
127,North Korea,214,KP,21.8,"120,538","1,469,000",13.89,850.0,Pyongyang,"28,284",NaN,NaN,KPW,1.90,40.7,0.58,3.210000e+10,112.8,27.0,13.7,Pyongyang,72.1,89.0,NaN,Korean,NaN,3.67,"25,666,161",80.4,NaN,NaN,2.74,"15,947,412",40.339852,127.510093
2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",28.033886,1.659626
68,Guatemala,167,GT,36.0,"108,889","43,000",24.56,502.0,Guatemala City,"16,777",142.92,3.7,GTQ,2.87,32.7,0.79,7.671039e+10,101.9,21.8,22.1,Guatemala City,74.1,95.0,1.60,Spanish,55.8,0.35,"16,604,026",62.3,10.6,35.2,2.46,"8,540,945",15.783471,-90.230759

In [5]:
df[["landarea",'armedforcessize','co2-emissions','gdp','population','urban_population','latitude', 'longitude', 'density', 'cpi']].dtypes

landarea             object
armedforcessize      object
co2-emissions        object
gdp                 float64
population           object
urban_population     object
latitude            float64
longitude           float64
density              object
cpi                  object
dtype: object

In [6]:
def cambio_float(columna):
        try: 
           return float(columna.replace(",", ""))
        except:
            return np.nan

In [7]:
columnas_cambio=["landarea",'armedforcessize','co2-emissions','population','urban_population', 'density', 'cpi']

In [8]:
for columna in columnas_cambio:
    df[columna]=df[columna].apply(cambio_float)

In [9]:
df[columnas_cambio].dtypes

landarea            float64
armedforcessize     float64
co2-emissions       float64
population          float64
urban_population    float64
density             float64
cpi                 float64
dtype: object

In [10]:
df.head(2)

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitude,longitude
0,Afghanistan,60.0,AF,58.1,652230.0,323000.0,32.49,93.0,Kabul,8672.0,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.939110,67.709953
1,Albania,105.0,AL,43.1,28748.0,9000.0,11.78,355.0,Tirana,4536.0,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,2854191.0,55.7,18.6,36.6,12.33,1747593.0,41.153332,20.168331

2. Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué continente pertenece cada país.

In [11]:
diccionario_continentes= {
    'Afghanistan': 'Asia',
    'Albania': 'Europe',
    'Algeria': 'Africa',
    'Andorra': 'Europe',
    'Angola': 'Africa',
    'Antigua and Barbuda': 'North America',
    'Argentina': 'South America',
    'Armenia': 'Asia',
    'Australia': 'Oceania',
    'Austria': 'Europe',
    'Azerbaijan': 'Asia',
    'The Bahamas': 'North America',
    'Bahrain': 'Asia',
    'Bangladesh': 'Asia',
    'Barbados': 'North America',
    'Belarus': 'Europe',
    'Belgium': 'Europe',
    'Belize': 'North America',
    'Benin': 'Africa',
    'Bhutan': 'Asia',
    'Bolivia': 'South America',
    'Bosnia and Herzegovina': 'Europe',
    'Botswana': 'Africa',
    'Brazil': 'South America',
    'Brunei': 'Asia',
    'Bulgaria': 'Europe',
    'Burkina Faso': 'Africa',
    'Burundi': 'Africa',
    'Ivory Coast': 'Africa',
    'Cape Verde': 'Africa',
    'Cambodia': 'Asia',
    'Cameroon': 'Africa',
    'Canada': 'North America',
    'Central African Republic': 'Africa',
    'Chad': 'Africa',
    'Chile': 'South America',
    'China': 'Asia',
    'Colombia': 'South America',
    'Comoros': 'Africa',
    'Republic of the Congo': 'Africa',
    'Costa Rica': 'North America',
    'Croatia': 'Europe',
    'Cuba': 'North America',
    'Cyprus': 'Europe',
    'Czech Republic': 'Europe',
    'Democratic Republic of the Congo': 'Africa',
    'Denmark': 'Europe',
    'Djibouti': 'Africa',
    'Dominica': 'North America',
    'Dominican Republic': 'North America',
    'Ecuador': 'South America',
    'Egypt': 'Africa',
    'El Salvador': 'North America',
    'Equatorial Guinea': 'Africa',
    'Eritrea': 'Africa',
    'Estonia': 'Europe',
    'Eswatini': 'Africa',
    'Ethiopia': 'Africa',
    'Fiji': 'Oceania',
    'Finland': 'Europe',
    'France': 'Europe',
    'Gabon': 'Africa',
    'The Gambia': 'Africa',
    'Georgia': 'Asia',
    'Germany': 'Europe',
    'Ghana': 'Africa',
    'Greece': 'Europe',
    'Grenada': 'North America',
    'Guatemala': 'North America',
    'Guinea': 'Africa',
    'Guinea-Bissau': 'Africa',
    'Guyana': 'South America',
    'Haiti': 'North America',
    'Vatican City': 'Europe',
    'Honduras': 'North America',
    'Hungary': 'Europe',
    'Iceland': 'Europe',
    'India': 'Asia',
    'Indonesia': 'Asia',
    'Iran': 'Asia',
    'Iraq': 'Asia',
    'Republic of Ireland': 'Europe',
    'Israel': 'Asia',
    'Italy': 'Europe',
    'Jamaica': 'North America',
    'Japan': 'Asia',
    'Jordan': 'Asia',
    'Kazakhstan': 'Asia',
    'Kenya': 'Africa',
    'Kiribati': 'Oceania',
    'Kuwait': 'Asia',
    'Kyrgyzstan': 'Asia',
    'Laos': 'Asia',
    'Latvia': 'Europe',
    'Lebanon': 'Asia',
    'Lesotho': 'Africa',
    'Liberia': 'Africa',
    'Libya': 'Africa',
    'Liechtenstein': 'Europe',
    'Lithuania': 'Europe',
    'Luxembourg': 'Europe',
    'Madagascar': 'Africa',
    'Malawi': 'Africa',
    'Malaysia': 'Asia',
    'Maldives': 'Asia',
    'Mali': 'Africa',
    'Malta': 'Europe',
    'Marshall Islands': 'Oceania',
    'Mauritania': 'Africa',
    'Mauritius': 'Africa',
    'Mexico': 'North America',
    'Federated States of Micronesia': 'Oceania',
    'Moldova': 'Europe',
    'Monaco': 'Europe',
    'Mongolia': 'Asia',
    'Montenegro': 'Europe',
    'Morocco': 'Africa',
    'Mozambique': 'Africa',
    'Myanmar': 'Asia',
    'Namibia': 'Africa',
    'Nauru': 'Oceania',
    'Nepal': 'Asia',
    'Netherlands': 'Europe',
    'New Zealand': 'Oceania',
    'Nicaragua': 'North America',
    'Niger': 'Africa',
    'Nigeria': 'Africa',
    'North Korea': 'Asia',
    'North Macedonia': 'Europe',
    'Norway': 'Europe',
    'Oman': 'Asia',
    'Pakistan': 'Asia',
    'Palau': 'Oceania',
    'Palestinian National Authority': 'Asia',
    'Panama': 'North America',
    'Papua New Guinea': 'Oceania',
    'Paraguay': 'South America',
    'Peru': 'South America',
    'Philippines': 'Asia',
    'Poland': 'Europe',
    'Portugal': 'Europe',
    'Qatar': 'Asia',
    'Romania': 'Europe',
    'Russia': 'Europe',
    'Rwanda': 'Africa',
    'Saint Kitts and Nevis': 'North America',
    'Saint Lucia': 'North America',
    'Saint Vincent and the Grenadines': 'North America',
    'Samoa': 'Oceania',
    'San Marino': 'Europe',
    'Saudi Arabia': 'Asia',
    'Senegal': 'Africa',
    'Serbia': 'Europe',
    'Seychelles': 'Africa',
    'Sierra Leone': 'Africa',
    'Singapore': 'Asia',
    'Slovakia': 'Europe',
    'Slovenia': 'Europe',
    'Solomon Islands': 'Oceania',
    'Somalia': 'Africa',
    'South Africa': 'Africa',
    'South Korea': 'Asia',
    'South Sudan': 'Africa',
    'Spain': 'Europe',
    'Sri Lanka': 'Asia',
    'Sudan': 'Africa',
    'Suriname': 'South America'}

In [12]:
def continente(pais):
    return diccionario_continentes.get(pais, 'Asia')

In [13]:
df['continent']=df['country'].apply(continente)

In [14]:
df.head()

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitude,longitude,continent
0,Afghanistan,60.0,AF,58.1,652230.0,323000.0,32.49,93.0,Kabul,8672.0,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.939110,67.709953,Asia
1,Albania,105.0,AL,43.1,28748.0,9000.0,11.78,355.0,Tirana,4536.0,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,2854191.0,55.7,18.6,36.6,12.33,1747593.0,41.153332,20.168331,Europe
2,Algeria,18.0,DZ,17.4,2381741.0,317000.0,24.28,213.0,Algiers,150006.0,151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,43053054.0,41.2,37.2,66.1,11.70,31510100.0,28.033886,1.659626,Africa
3,Andorra,164.0,AD,40.0,468.0,NaN,7.20,376.0,Andorra la Vella,469.0,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,42.506285,1.521801,Europe
4,Angola,26.0,AO,47.5,1246700.0,117000.0,40.73,244.0,Luanda,34693.0,261.73,17.1,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,31825295.0,77.5,9.2,49.1,6.89,21061025.0,-11.202692,17.873887,Africa

3. Guarda el DataFrame después de los cambios creados después de los dos ejercicios anteriores para usarlo en el pairprogramming de mañana.

In [15]:
df.to_csv("world_data_apply.csv")

# Ejercicios groupby

1. ¿Cuál es la densidad de población promedio por continente?

In [16]:
densidad= df.groupby('continent')['density'].mean().reset_index()
densidad

       continent     density
0         Africa  106.021277
1           Asia  363.569231
2         Europe  845.048780
3  North America  192.095238
4        Oceania  184.090909
5  South America   24.800000

2. ¿Cuál es la esperanza de vida promedio por idioma oficial? Agrupa los países por idioma oficial y calcula la esperanza de vida promedio.

In [17]:
esperanza_vida = df.groupby('officiallanguage')['lifeexpectancy'].mean().reset_index()
esperanza_vida

     officiallanguage  lifeexpectancy
0           Afrikaans       63.900000
1            Albanian       78.500000
2             Amharic       66.200000
3              Arabic       72.864706
4            Armenian       74.900000
..                ...             ...
71  Tuvaluan Language             NaN
72          Ukrainian       71.600000
73               Urdu       67.100000
74              Uzbek       71.600000
75         Vietnamese       75.300000

[76 rows x 2 columns]

3. ¿Cuál es la tasa de mortalidad infantil promedio por moneda?

In [18]:
mortalidad_infantil= df.groupby('currency-code')['infantmortality'].mean().reset_index()
mortalidad_infantil

    currency-code  infantmortality
0             AED         6.500000
1             AFN        47.900000
2             ALL         7.800000
3             AMD        11.000000
4             AOA        51.600000
..            ...              ...
128           XCD        15.183333
129           XOF        51.512500
130           YER        42.900000
131           ZAR        28.500000
132           ZMW        40.400000

[133 rows x 2 columns]

4. ¿Cuál es el salario mínimo por continente?

In [21]:
df.groupby('continent')['minimumwage'].mean().reset_index()

       continent  minimumwage
0         Africa     0.572857
1           Asia     1.620408
2         Europe     4.738000
3  North America     2.004737
4        Oceania     4.212500
5  South America     1.748889

5. ¿Cuál es la tasa de impuestos total máxima por densidad de población por continente? Para solucionar este ejercicio puedes:
    - Primero, necesitas calcular la tasa de impuestos total para cada continente. La tasa de impuestos total se encuentra en la columna "total_tax_rate".
    - Luego, calcula la densidad de población para cada continente. La densidad de población se encuentra en la columna "density".
    - Ahora, divide la tasa de impuestos total entre la densidad de población para obtener la tasa de impuestos total por persona por kilómetro cuadrado.
    - Encuentra el país que tiene el valor más alto en esta nueva columna calculada.

In [23]:
continent_taxes=df.groupby('continent')['totaltaxrate'].mean().reset_index()
continent_taxes

       continent  totaltaxrate
0         Africa     48.948889
1           Asia     33.962295
2         Europe     38.232432
3  North America     40.915000
4        Oceania     43.820000
5  South America     52.500000

In [25]:
continent_density=df.groupby('continent')['density'].mean().reset_index()
continent_density

       continent     density
0         Africa  106.021277
1           Asia  363.569231
2         Europe  845.048780
3  North America  192.095238
4        Oceania  184.090909
5  South America   24.800000

In [26]:
continent_taxes['tax_max_per_density']=continent_taxes['totaltaxrate']/continent_density['density']

In [27]:
continent_taxes

       continent  totaltaxrate  tax_max_per_density
0         Africa     48.948889             0.461689
1           Asia     33.962295             0.093414
2         Europe     38.232432             0.045243
3  North America     40.915000             0.212993
4        Oceania     43.820000             0.238035
5  South America     52.500000             2.116935

In [40]:
taxes_per_continent=continent_taxes.groupby('continent')["tax_max_per_density"].max().sort_values(ascending=False).reset_index()
taxes_per_continent.head(1)

       continent  tax_max_per_density
0  South America             2.116935

6. ¿Cuál es el porcentaje de población urbana promedio por continente?

In [41]:
df.groupby('continent')['urban_population'].mean().reset_index()

       continent  urban_population
0         Africa      1.101638e+07
1           Asia      4.262462e+07
2         Europe      1.164834e+07
3  North America      9.010384e+06
4        Oceania      2.811971e+06
5  South America      3.315111e+07

7. ¿Cuál es la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio por idioma oficial? Para contestar esta pregunta dabes seguir los siguientes pasos:
    - Agrupa el DataFrame por idioma oficial y calcula la media del Gasto de Bolsillo en salud (out_of_pocket_health_expenditure) y del GPD.
    - Calcula la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio

In [42]:
paso1 = df.groupby('officiallanguage')[['outofpockethealthexpenditure','gdp']].mean().reset_index()
paso1

     officiallanguage  outofpockethealthexpenditure           gdp
0           Afrikaans                           7.7  3.514316e+11
1            Albanian                          56.9  1.527808e+10
2             Amharic                          37.8  9.610766e+10
3              Arabic                          38.0  1.366153e+11
4            Armenian                          81.6  1.367280e+10
..                ...                           ...           ...
71  Tuvaluan Language                           0.7  4.727146e+07
72          Ukrainian                          47.8  1.537811e+11
73               Urdu                          66.5  3.044000e+11
74              Uzbek                          42.7  5.792129e+10
75         Vietnamese                          43.5  2.619212e+11

[76 rows x 3 columns]

In [48]:
paso1['gdp']-paso1['outofpockethealthexpenditure']

0     3.514316e+11
1     1.527808e+10
2     9.610766e+10
3     1.366153e+11
4     1.367280e+10
          ...
71    4.727146e+07
72    1.537811e+11
73    3.044000e+11
74    5.792129e+10
75    2.619212e+11
Length: 76, dtype: float64

8. ¿Cuál es la tasa de maternidad promedio por tasa de impuestos total? Para resolver el ejercicio deberás:
    - Primero, calcula la tasa de maternidad promedio para cada continente. Puedes usar la columna "maternal_mortality_ratio" que representa la tasa de mortalidad materna.
    - Calcula la tasa de impuestos total promedio para cada continente. Puedes usar la columna "total_tax_rate" que representa la tasa de impuestos total en cada continente.
    - Luego, divide la tasa de maternidad promedio por la tasa de impuestos total promedio para obtener la relación entre ambas tasas.
    - Encuentra el país con la tasa de maternidad más alta por punto porcentual de tasa de impuestos total.

In [50]:
promedio_maternidad= df.groupby('continent')['maternalmortalityratio'].mean().reset_index()
promedio_maternidad

       continent  maternalmortalityratio
0         Africa              428.847826
1           Asia               96.841270
2         Europe                7.571429
3  North America               79.052632
4        Oceania               65.125000
5  South America               91.500000

In [52]:
promedio_tasas= df.groupby('continent')['totaltaxrate'].mean().reset_index()
promedio_tasas

       continent  totaltaxrate
0         Africa     48.948889
1           Asia     33.962295
2         Europe     38.232432
3  North America     40.915000
4        Oceania     43.820000
5  South America     52.500000

In [54]:
relacion_maternidad_tasas=promedio_maternidad['maternalmortalityratio']/promedio_tasas['totaltaxrate']
relacion_maternidad_tasas

0    8.761135
1    2.851435
2    0.198037
3    1.932119
4    1.486194
5    1.742857
dtype: float64

In [55]:
relacion_maternidad_tasas.max()

8.761135049672239