# Pair programming Unión de Datos e Introducción a Limpieza

Para realizar este pair programming deberéis usar el conjunto de datos de world-data-2023-part1.csv y el de world-data-2023-part2.csv.

In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

## Ejercicios Unión de Datos

1_Explora y carga ambos conjuntos de datos en pandas DataFrames.

In [3]:
df_wdp1=pd.read_csv("world-data-2023_part1.csv", index_col=0)
df_wdp1.shape

(195, 16)

In [4]:
df_wdp2=pd.read_csv("world-data-2023_part2.csv", index_col=0)
df_wdp2.shape

(195, 19)

2_Identifica las columnas comunes entre los dos conjuntos de datos.

In [5]:
columnas_wdp1=df_wdp1.columns.tolist()
print(columnas_wdp1)

['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)', 'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code', 'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)', 'Currency-Code', 'Fertility Rate', 'Forested Area (%)', 'Gasoline Price']

In [6]:
columnas_wdp2=df_wdp2.columns.tolist()
print(columnas_wdp2)

['GDP', 'Gross primary education enrollment (%)', 'Gross tertiary education enrollment (%)', 'Infant mortality', 'Largest city', 'Life expectancy', 'Maternal mortality ratio', 'Minimum wage', 'Official language', 'Out of pocket health expenditure', 'Physicians per thousand', 'Population', 'Population: Labor force participation (%)', 'Tax revenue (%)', 'Total tax rate', 'Unemployment rate', 'Urban_population', 'country', 'coordinates']

In [7]:
#Ponemos columnas en minuscula para mejor comparación
columnas_comunes = [col for col in columnas_wdp1 if col.lower() in columnas_wdp2]
print(columnas_comunes)

['Country']

3_Utiliza el método de unión de Pandas que consideres más adecuado para combinar los datos de ambos años en un solo DataFrame.

In [8]:
df_merge=df_wdp1.merge(df_wdp2, left_on="Country", right_on="country", how="left")

In [9]:
df_merge.shape

(195, 35)

4_Explica por qué elegiste ese método de unión y cómo se llevaron a cabo los pasos anteriores.

In [ ]:
#Uniremos con merge ya que tenemos columnas que tienen valores del mismo tipo (países) aunque las columnas se llamen dieferente. 
#Como no sabemos si los valores de la columna de unión son los mismos, vamos a hacer un left join para asegurarnos de que conserva
#todos las filas del DF izquierdo y que incluye aquellas de la derecha que no tiene coincidencia con el DF izquierda. 
#En nuestro caso, al haber coincidencia de todas las filas en ambos DF podríamos haber optado por un inner, pero somos conservadoras :D

## Ejercicios de Limpieza

1_Después de la unión de datos, tenemos dos columnas de "country". Elimina una de ellas.

In [10]:
df_merge.drop(labels="country", axis=1, inplace=True)

In [11]:
df_merge.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population',
       'coordinates'],
      dtype='object')

2_Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:
- No tengan espacios.
- Estén en minúscula.
- No tengan paréntesis, es decir, quitar "(%)", "(Km2)".
- Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.
- Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

In [12]:
# aplicamos los cambios en los nombres de las columnas, PERO esto no nos da un dataframe sino un objeto "Index"
df_merge.columns = df_merge.columns.str.replace(' ', '').str.lower().str.replace('\n', '').str.replace(':', '').str.replace(r'\([^)]*\)', '',regex=True)

# mostrar las primeras filas del DataFrame con los nombres de columnas actualizados
df_merge.head()

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"

3_La columnas coordinates tiene la latitud y la longitud en una sola columna.

Crea dos columnas nuevas: una con la **longitud** y otra con la **latitud**.

Una vez hecho, elimina la columna de coordinates.

In [13]:
df_merge["coordinates"].dtype

dtype('O')

In [14]:
df_merge["coordinates"]

0          ('33.93911 ', '67.709953')
1         ('41.153332 ', '20.168331')
2          ('28.033886 ', '1.659626')
3          ('42.506285 ', '1.521801')
4        ('-11.202692 ', '17.873887')
5        ('17.060816 ', '-61.796428')
6       ('-38.416097 ', '-63.616672')
7         ('40.069099 ', '45.038189')
8       ('-25.274398 ', '133.775136')
9         ('47.516231 ', '14.550072')
10        ('40.143105 ', '47.576927')
11         ('25.03428 ', '-77.39628')
12            ('26.0667 ', '50.5577')
13        ('23.684994 ', '90.356331')
14       ('13.193887 ', '-59.543198')
15        ('53.709807 ', '27.953389')
16         ('50.503887 ', '4.469936')
17        ('17.189877 ', '-88.49765')
18           ('9.30769 ', '2.315834')
19        ('27.514162 ', '90.433601')
20      ('-16.290154 ', '-63.588653')
21        ('43.915886 ', '17.679076')
22       ('-22.328474 ', '24.684866')
23       ('-14.235004 ', '-51.92528')
24        ('4.535277 ', '114.727669')
25         ('42.733883 ', '25.48583')
26        ('12.238333 ', '-1.561593')
27        ('-3.373056 ', '29.918886')
28          ('7.539989 ', '-5.54708')
29           ('16.5388 ', '-23.0418')
30       ('12.565679 ', '104.990963')
31         ('7.369722 ', '12.354722')
32      ('56.130366 ', '-106.346771')
33         ('6.611111 ', '20.939444')
34        ('15.454166 ', '18.732207')
35      ('-35.675147 ', '-71.542969')
36        ('35.86166 ', '104.195397')
37        ('4.570868 ', '-74.297333')
38           ('-11.6455 ', '43.3333')
39        ('-0.228021 ', '15.827659')
40        ('9.748917 ', '-83.753428')
41                  ('45.1 ', '15.2')
42       ('21.521757 ', '-77.781167')
43        ('35.126413 ', '33.429859')
44        ('49.817492 ', '15.472962')
45        ('-4.038333 ', '21.758664')
46          ('56.26392 ', '9.501785')
47        ('11.825138 ', '42.590275')
48       ('15.414999 ', '-61.370976')
49       ('18.735693 ', '-70.162651')
50       ('-1.831239 ', '-78.183406')
51        ('26.820553 ', '30.802498')
52        ('13.794185 ', '-88.89653')
53         ('1.650801 ', '10.267895')
54        ('15.179384 ', '39.782334')
55        ('58.595272 ', '25.013607')
56       ('-26.522503 ', '31.465866')
57            ('9.145 ', '40.489673')
58      ('-17.713371 ', '178.065032')
59         ('61.92411 ', '25.748151')
60         ('46.227638 ', '2.213749')
61        ('-0.803689 ', '11.609444')
62       ('13.443182 ', '-15.310139')
63        ('42.315407 ', '43.356892')
64        ('51.165691 ', '10.451526')
65         ('7.946527 ', '-1.023194')
66        ('39.074208 ', '21.824312')
67            ('12.1165 ', '-61.679')
68       ('15.783471 ', '-90.230759')
69         ('9.945587 ', '-9.696645')
70       ('11.803749 ', '-15.180413')
71         ('4.860416 ', '-58.93018')
72       ('18.971187 ', '-72.285215')
73        ('41.902916 ', '12.453389')
74       ('15.199999 ', '-86.241905')
75        ('47.162494 ', '19.503304')
76       ('64.963051 ', '-19.020835')
77         ('20.593684 ', '78.96288')
78       ('-0.789275 ', '113.921327')
79        ('32.427908 ', '53.688046')
80        ('33.223191 ', '43.679291')
81          ('53.41291 ', '-8.24389')
82        ('31.046051 ', '34.851612')
83          ('41.87194 ', '12.56738')
84       ('18.109581 ', '-77.297508')
85       ('36.204824 ', '138.252924')
86        ('30.585164 ', '36.238414')
87        ('48.019573 ', '66.923684')
88        ('-0.023559 ', '37.906193')
89     ('1.8368976 ', '-157.3768317')
90         ('29.31166 ', '47.481766')
91         ('41.20438 ', '74.766098')
92        ('19.85627 ', '102.495496')
93        ('56.879635 ', '24.603189')
94        ('33.854721 ', '35.862285')
95       ('-29.609988 ', '28.233608')
96         ('6.428055 ', '-9.429499')
97          ('26.3351 ', '17.228331')
98        ('47.1410392 ', '9.520935')
99        ('55.169438 ', '23.881275')
100        ('49.815273 ', '6.129583')
101      ('-18.766947 ', '46.869107')
102      ('-13.254308 ', '34.301525')
103       ('4.210484 ', '101.975766')
104         ('3.202778 ', '73.22068')
105       ('17.570692 ', '-3.996166')
106       ('35.937496 ', '14.375416')
107       ('7.131474 ', '171.184478')
108       ('21.00789 ', '-10.940835')
109      ('-20.348404 ', '57.552152')
110     ('23.634501 ', '-102.552784')
111       ('7.425554 ', '150.550812')
112       ('47.411631 ', '28.369885')
113      ('43.7384176 ', '7.4246158')
114      ('46.862496 ', '103.846656')
115        ('42.708678 ', '19.37439')
116        ('31.791702 ', '-7.09262')
117      ('-18.665695 ', '35.529562')
118       ('21.916221 ', '95.955974')
119        ('-22.95764 ', '18.49041')
120      ('-0.522778 ', '166.931503')
121       ('28.394857 ', '84.124008')
122        ('52.132633 ', '5.291266')
123     ('-40.900557 ', '174.885971')
124      ('12.865416 ', '-85.207229')
125        ('17.607789 ', '8.081666')
126         ('9.081999 ', '8.675277')
127      ('40.339852 ', '127.510093')
128       ('41.608635 ', '21.745275')
129        ('60.472024 ', '8.468946')
130      ('21.4735329 ', '55.975413')
131       ('30.375321 ', '69.345116')
132         ('7.51498 ', '134.58252')
133       ('31.952162 ', '35.233154')
134       ('8.537981 ', '-80.782127')
135       ('-6.314993 ', '143.95555')
136     ('-23.442503 ', '-58.443832')
137      ('-9.189967 ', '-75.015152')
138      ('12.879721 ', '121.774017')
139       ('51.919438 ', '19.145136')
140       ('39.399872 ', '-8.224454')
141       ('25.354826 ', '51.183884')
142        ('45.943161 ', '24.96676')
143       ('61.52401 ', '105.318756')
144       ('-1.940278 ', '29.873888')
145      ('17.357822 ', '-62.782998')
146      ('13.909444 ', '-60.978893')
147      ('12.984305 ', '-61.287228')
148    ('-13.759029 ', '-172.104629')
149        ('43.94236 ', '12.457777')
150                   ('nan ', 'nan')
151       ('23.885942 ', '45.079162')
152      ('14.497401 ', '-14.452362')
153       ('44.016521 ', '21.005859')
154       ('-4.679574 ', '55.491977')
155       ('8.460555 ', '-11.779889')
156       ('1.352083 ', '103.819836')
157       ('48.669026 ', '19.699024')
158       ('46.151241 ', '14.995463')
159       ('-9.64571 ', '160.156194')
160        ('5.152149 ', '46.199616')
161      ('-30.559482 ', '22.937506')
162      ('35.907757 ', '127.766922')
163      ('6.8769919 ', '31.3069788')
164        ('40.463667 ', '-3.74922')
165        ('7.873054 ', '80.771797')
166       ('12.862807 ', '30.217636')
167       ('3.919305 ', '-56.027783')
168       ('60.128161 ', '18.643501')
169        ('46.818188 ', '8.227512')
170       ('34.802075 ', '38.996815')
171       ('38.861034 ', '71.276093')
172       ('-6.369028 ', '34.888822')
173      ('15.870032 ', '100.992541')
174      ('-8.874217 ', '125.727539')
175         ('8.619543 ', '0.824782')
176    ('-21.178986 ', '-175.198242')
177      ('10.691803 ', '-61.222503')
178        ('33.886917 ', '9.537499')
179       ('38.963745 ', '35.243322')
180       ('38.969719 ', '59.556278')
181       ('-7.109535 ', '177.64933')
182        ('1.373333 ', '32.290275')
183        ('48.379433 ', '31.16558')
184       ('23.424076 ', '53.847818')
185       ('55.378051 ', '-3.435973')
186       ('37.09024 ', '-95.712891')
187     ('-32.522779 ', '-55.765835')
188       ('41.377491 ', '64.585262')
189     ('-15.376706 ', '166.959158')
190         ('6.42375 ', '-66.58973')
191      ('14.058324 ', '108.277199')
192       ('15.552727 ', '48.516388')
193      ('-13.133897 ', '27.849332')
194      ('-19.015438 ', '29.154857')
Name: coordinates, dtype: object

In [15]:
df_merge[['latitude', 'longitude']] = df_merge['coordinates'].str.split(',', expand=True)

In [17]:
df_merge.head(5)

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates,latitude,longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')",('33.93911 ','67.709953')
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')",('41.153332 ','20.168331')
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')",('28.033886 ','1.659626')
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')",('42.506285 ','1.521801')
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')",('-11.202692 ','17.873887')

In [18]:
df_merge.columns

Index(['country', 'density', 'abbreviation', 'agriculturalland', 'landarea',
       'armedforcessize', 'birthrate', 'callingcode', 'capital/majorcity',
       'co2-emissions', 'cpi', 'cpichange', 'currency-code', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'largestcity', 'lifeexpectancy',
       'maternalmortalityratio', 'minimumwage', 'officiallanguage',
       'outofpockethealthexpenditure', 'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'coordinates', 'latitude',
       'longitude'],
      dtype='object')

In [19]:
df_merge[['latitude', 'longitude']].dtypes

latitude     object
longitude    object
dtype: object

In [20]:
df_merge[['latitude', 'longitude']] = df_merge[['latitude', 'longitude']].replace(r"[(')]", '', regex=True)

In [21]:
df_merge.head(5)

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates,latitude,longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')",33.93911,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')",-11.202692,17.873887

In [22]:
df_merge[['latitude', 'longitude']] = df_merge[['latitude', 'longitude']].astype(float)

In [23]:
df_merge.head(1)

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates,latitude,longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')",33.93911,67.709953

In [24]:
df_merge.drop('coordinates', axis=1, inplace=True)

In [25]:
df_merge.head(1)

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.93911,67.709953

4_Elimina los "%" de los valores de las columnas.: unemployment_rate, total_tax_rate, tax_revenue, population_labor_force_participation, out_of_pocket_health_expenditure, gross_tertiary_education_enrollment, gross_primary_education_enrollment, forested_area, cpi_change, agricultural_land.

In [26]:
df_merge.columns

Index(['country', 'density', 'abbreviation', 'agriculturalland', 'landarea',
       'armedforcessize', 'birthrate', 'callingcode', 'capital/majorcity',
       'co2-emissions', 'cpi', 'cpichange', 'currency-code', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'largestcity', 'lifeexpectancy',
       'maternalmortalityratio', 'minimumwage', 'officiallanguage',
       'outofpockethealthexpenditure', 'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'latitude', 'longitude'],
      dtype='object')

In [27]:
columnas_porcentaje= ["unemploymentrate", "totaltaxrate", "taxrevenue", "populationlaborforceparticipation", "outofpockethealthexpenditure", "grosstertiaryeducationenrollment","grossprimaryeducationenrollment", "forestedarea", "cpichange", "agriculturalland"]

for column in columnas_porcentaje:
    df_merge[column] = df_merge[column].str.replace('%', '').astype(float)

In [28]:
df_merge.sample(3)

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitude,longitude
191,Vietnam,314,VN,39.3,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.8,VND,2.05,48.1,$0.80,"$261,921,244,843",110.6,28.5,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.5,0.82,"96,462,106",77.4,19.1,37.6,2.01,"35,332,140",14.058324,108.277199
138,Philippines,368,PH,41.7,"300,000","153,000",20.55,63.0,Manila,"122,287",129.61,2.5,PHP,2.58,27.8,$0.86,"$376,795,508,680",107.5,35.5,22.5,Manila,71.1,121.0,$1.12,English,53.5,0.60,"108,116,615",59.6,14.0,43.1,2.15,"50,975,903",12.879721,121.774017
8,Australia,3,AU,48.2,"7,741,220","58,000",12.60,61.0,Canberra,"375,908",119.8,1.6,AUD,1.74,16.3,$0.93,"$1,392,680,589,329",100.3,113.1,3.1,Sydney,82.7,6.0,$13.59,NaN,19.6,3.68,"25,766,605",65.5,23.0,47.4,5.27,"21,844,756",-25.274398,133.775136

5_Elimina "$" en las columnas de gasoline_price, gdp, minimum_wage.

In [29]:
df_merge[["gasolineprice", "gdp", "minimumwage"]].dtypes

gasolineprice    object
gdp              object
minimumwage      object
dtype: object

In [30]:
df_merge["gdp"]=df_merge["gdp"].str.replace(",", "")

In [31]:
columnas_dolar=["gasolineprice", "gdp", "minimumwage"]
for columna in columnas_dolar:
        df_merge[columna] = df_merge[columna].str.replace('$', '').astype(float)

/tmp/ipykernel_4771/94248847.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_merge[columna] = df_merge[columna].str.replace('$', '').astype(float)

In [32]:
df_merge[["gasolineprice", "gdp", "minimumwage"]].head(3)

   gasolineprice           gdp  minimumwage
0           0.70  1.910135e+10         0.43
1           1.36  1.527808e+10         1.12
2           0.28  1.699882e+11         0.95

In [33]:
df_merge[["gasolineprice", "gdp", "minimumwage"]].dtypes

gasolineprice    float64
gdp              float64
minimumwage      float64
dtype: object

6_Guarda el DataFrame para usarlo en el pairprogramming de mañana.

In [34]:
df_merge.to_csv("world_data_total.csv")

## Ejercicios de Filtrado

1_Encuentra todos los países cuya mortalidad infantil esté entre 40 y 50 personas por kilómetro cuadrado.

In [39]:
df_mortalidad_infantil=df_merge[df_merge["infantmortality"].between(40, 50, inclusive="both")]

In [40]:
df_mortalidad_infantil

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",33.939110,67.709953
26,Burkina Faso,76,BF,44.2,"274,200","11,000",37.93,226.0,Ouagadougou,"3,418",106.58,-3.2,XOF,5.19,19.3,0.98,1.574581e+10,96.1,6.5,49.0,Ouagadougou,61.2,320.0,0.34,French,36.1,0.08,"20,321,378",66.4,15.0,41.3,6.26,"6,092,349",12.238333,-1.561593
27,Burundi,463,BI,79.2,"27,830","31,000",39.01,257.0,Bujumbura,495,182.11,-0.7,BIF,5.41,10.9,1.21,3.012335e+09,121.4,6.1,41.0,Bujumbura,61.2,548.0,NaN,Kirundi,19.1,0.10,"11,530,580",79.2,13.6,41.2,1.43,"1,541,177",-3.373056,29.918886
47,Djibouti,43,DJ,73.4,"23,200","13,000",21.47,253.0,Djibouti City,620,120.25,3.3,DJF,2.73,0.2,1.32,3.318716e+09,75.3,5.3,49.8,Djibouti City,66.6,248.0,NaN,French,20.4,0.22,"973,560",60.2,NaN,37.9,10.30,"758,549",11.825138,42.590275
72,Haiti,414,HT,66.8,"27,750",0,24.35,509.0,Port-au-Prince,"2,978",179.29,12.5,HTG,2.94,3.5,0.81,8.498982e+09,113.6,1.1,49.5,Port-au-Prince,63.7,480.0,0.25,French,36.3,0.23,"11,263,077",67.2,NaN,42.7,13.78,"6,328,948",18.971187,-72.285215
89,Kiribati,147,KI,42.0,811,NaN,27.89,686.0,South Tarawa,66,99.55,0.6,AUD,3.57,15.0,NaN,1.946472e+08,101.3,NaN,41.2,South Tarawa,68.1,92.0,NaN,English,0.2,0.20,"117,606",NaN,22.0,32.7,NaN,"64,489",1.836898,-157.376832
125,Niger,19,NE,36.1,"1,267,000","10,000",46.08,227.0,Niamey,"2,017",109.32,-2.5,XOF,6.91,0.9,0.88,1.292815e+10,74.7,4.4,48.0,Niamey,62.0,509.0,0.29,French,52.3,0.04,"23,310,715",72.0,11.8,47.2,0.47,"3,850,231",17.607789,8.081666
166,Sudan,25,SD,28.7,"1,861,484","124,000",32.18,249.0,Khartoum,"20,000","1,344.19",51.0,SDG,4.41,8.1,0.95,1.890228e+10,76.8,16.9,42.1,Omdurman,65.1,295.0,0.41,Arabic,63.2,0.26,"42,813,238",48.4,8.0,45.4,16.53,"14,957,233",12.862807,30.217636
175,Togo,152,TG,70.2,"56,785","10,000",33.11,228.0,Lom�,"3,000",113.3,0.7,XOF,4.32,3.1,0.71,5.459979e+09,123.8,14.5,47.4,Lom�,60.8,396.0,0.34,French,51.0,0.08,"8,082,366",77.6,16.9,48.2,2.04,"3,414,638",8.619543,0.824782
192,Yemen,56,YE,44.6,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.1,YER,3.79,1.0,0.92,2.691440e+10,93.6,10.2,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.0,0.31,"29,161,922",38.0,NaN,26.6,12.91,"10,869,523",15.552727,48.516388
193,Zambia,25,ZM,32.1,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.2,ZMW,4.63,65.2,1.40,2.306472e+10,98.7,4.1,40.4,Lusaka,63.5,213.0,0.24,English,27.5,1.19,"17,861,030",74.6,16.2,15.6,11.43,"7,871,713",-13.133897,27.849332

2_Encuentra los países cuyas tasas de natalidad son mayores o iguales a 20 y su esperanza de vida es mayor de 75 años.

In [44]:
condicion1=df_merge["birthrate"]>=20
condicion2=df_merge["lifeexpectancy"]>75

df_natalidad_evida=df_merge[condicion1&condicion2]

In [45]:
df_natalidad_evida

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitude,longitude
2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",28.033886,1.659626
74,Honduras,89,HN,28.9,"112,090","23,000",21.60,504.0,Tegucigalpa,"9,813",150.34,4.4,HNL,2.46,40.0,0.98,2.509540e+10,91.5,26.2,15.1,Tegucigalpa,75.1,65.0,1.01,Spanish,49.1,0.31,"9,746,117",68.8,17.3,39.1,5.39,"5,626,433",15.199999,-86.241905
82,Israel,400,IL,24.6,"20,770","178,000",20.80,972.0,Jerusalem,"65,166",108.15,0.8,ILS,3.09,7.7,1.57,3.950987e+11,104.9,63.4,3.0,Jerusalem,82.8,3.0,7.58,Hebrew,24.4,4.62,"9,053,300",64.0,23.1,25.3,3.86,"8,374,393",31.046051,34.851612

3_Encuentra las ciudades cuyos paises contienen la palabra "la" en su nombre.

In [46]:
df_paisla=df_merge[df_merge["country"].str.contains("la", regex=False)]

In [47]:
df_paisla.head(3)

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitude,longitude
4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.1,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",-11.202692,17.873887
13,Bangladesh,"1,265",BD,70.6,"148,460","221,000",18.18,880.0,Dhaka,"84,246",179.68,5.6,BDT,2.04,11.0,1.12,3.025713e+11,116.5,20.6,25.1,Dhaka,72.3,173.0,0.51,Bengali,71.8,0.58,"167,310,838",59.0,8.8,33.4,4.19,"60,987,417",23.684994,90.356331
15,Belarus,47,BY,42.0,"207,600","155,000",9.90,375.0,Minsk,"58,280",NaN,5.6,BYN,1.45,42.6,0.60,6.308046e+10,100.5,87.4,2.6,Minsk,74.2,2.0,1.49,Russian,34.5,5.19,"9,466,856",64.1,14.7,53.3,4.59,"7,482,982",53.709807,27.953389

4_Encuentra los países cuyos medicos por cada 1000 habitantes (physicians_per_thousand) sea mayores de 5.

In [53]:
df_medicos=df_merge[df_merge['physiciansperthousand']>5]

In [54]:
df_medicos.head(5)

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitude,longitude
9,Austria,109,AT,32.4,"83,871","21,000",9.70,43.0,Vienna,"61,448",118.06,1.5,EUR,1.47,46.9,1.20,4.463147e+11,103.1,85.1,2.9,Vienna,81.6,5.0,NaN,German,17.9,5.17,"8,877,067",60.7,25.4,51.4,4.67,"5,194,416",47.516231,14.550072
15,Belarus,47,BY,42.0,"207,600","155,000",9.90,375.0,Minsk,"58,280",NaN,5.6,BYN,1.45,42.6,0.60,6.308046e+10,100.5,87.4,2.6,Minsk,74.2,2.0,1.49,Russian,34.5,5.19,"9,466,856",64.1,14.7,53.3,4.59,"7,482,982",53.709807,27.953389
42,Cuba,106,CU,59.9,"110,860","76,000",10.17,53.0,Havana,"28,284",NaN,NaN,CUP,1.62,31.3,1.40,1.000230e+11,101.9,41.4,3.7,Havana,78.7,36.0,0.05,Spanish,NaN,8.42,"11,333,483",53.6,NaN,NaN,1.64,"8,739,135",21.521757,-77.781167
63,Georgia,57,GE,34.5,"69,700","26,000",13.47,995.0,Tbilisi,"10,128",133.61,4.9,GEL,2.06,40.6,0.76,1.774320e+10,98.6,63.9,8.7,Tbilisi,73.6,25.0,0.05,Georgian,57.3,7.12,"3,720,382",68.3,21.7,9.9,14.40,"2,196,476",42.315407,43.356892
66,Greece,81,GR,47.6,"131,957","146,000",8.10,30.0,Athens,"62,434",101.87,0.2,EUR,1.35,31.7,1.54,2.098528e+11,99.6,136.6,3.6,Macedonia,81.3,3.0,4.46,Greek,35.5,5.48,"10,716,322",51.8,26.2,51.9,17.24,"8,507,474",39.074208,21.824312

5_Encuentra los países cuya tasa de fertilidad sea mayor a 6.

In [55]:
df_natalidad=df_merge[df_merge['fertilityrate']>6]

In [56]:
df_natalidad

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitude,longitude
125,Niger,19,NE,36.1,"1,267,000","10,000",46.08,227.0,Niamey,"2,017",109.32,-2.5,XOF,6.91,0.9,0.88,1.292815e+10,74.7,4.4,48.0,Niamey,62.0,509.0,0.29,French,52.3,0.04,"23,310,715",72.0,11.8,47.2,0.47,"3,850,231",17.607789,8.081666
160,Somalia,25,SO,70.3,"637,657","20,000",41.75,252.0,Mogadishu,645,NaN,NaN,SOS,6.07,10.0,1.41,4.720727e+09,23.4,2.5,76.6,Bosaso,57.1,829.0,NaN,Arabic,NaN,0.02,"15,442,905",47.4,0.0,NaN,11.35,"7,034,861",5.152149,46.199616

6_Encuentra los países cuya moneda es el euro (EUR) y tienen una tasa de natalidad superior al promedio.

In [57]:
euros=df_merge["currency-code"]=="EUR"
natalidad=df_merge['birthrate']>df_merge['birthrate'].mean()

In [58]:
df_combinado=df_merge[euros&natalidad]

In [63]:
df_combinado.head(2)

Empty DataFrame
Columns: [country, density, abbreviation, agriculturalland, landarea, armedforcessize, birthrate, callingcode, capital/majorcity, co2-emissions, cpi, cpichange, currency-code, fertilityrate, forestedarea, gasolineprice, gdp, grossprimaryeducationenrollment, grosstertiaryeducationenrollment, infantmortality, largestcity, lifeexpectancy, maternalmortalityratio, minimumwage, officiallanguage, outofpockethealthexpenditure, physiciansperthousand, population, populationlaborforceparticipation, taxrevenue, totaltaxrate, unemploymentrate, urban_population, latitude, longitude]
Index: []

7_Encuentra los países cuyas tasas de mortalidad infantil son superiores a 70

In [64]:
natalidad_2=df_merge[df_merge['infantmortality']>70]

In [65]:
natalidad_2.head(2)

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitude,longitude
33,Central African Republic,8,CF,8.2,"622,984","8,000",35.35,236.0,Bangui,297,186.86,37.1,NaN,4.72,35.6,1.41,2.220307e+09,102.0,3.0,84.5,Bangui,52.8,829.0,0.37,French,39.6,0.06,"4,745,185",72.0,8.6,73.3,3.68,"1,982,064",6.611111,20.939444
34,Chad,13,TD,39.7,"1,284,000","35,000",42.17,235.0,N'Djamena,"1,016",117.7,-1.0,XAF,5.75,3.8,0.78,1.131495e+10,86.8,3.3,71.4,N'Djamena,54.0,1140.0,0.60,French,56.4,0.04,"15,946,876",70.7,NaN,63.5,1.89,"3,712,273",15.454166,18.732207