# Pair programming Unión de Datos e Introducción a Limpieza

Para realizar este pair programming deberéis usar el conjunto de datos de world-data-2023-part1.csv y el de world-data-2023-part2.csv.

In [2]:
import pandas as pd
import numpy as np

## Ejercicios Unión de Datos

1_Explora y carga ambos conjuntos de datos en pandas DataFrames.

In [40]:
df_wdp1=pd.read_csv("world-data-2023_part1.csv", index_col=0)
df_wdp1.shape

(195, 16)

In [41]:
df_wdp2=pd.read_csv("world-data-2023_part2.csv", index_col=0)
df_wdp2.shape

(195, 19)

2_Identifica las columnas comunes entre los dos conjuntos de datos.

In [32]:
columnas_wdp1=df_wdp1.columns.tolist()
print(columnas_wdp1)

['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)', 'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code', 'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)', 'Currency-Code', 'Fertility Rate', 'Forested Area (%)', 'Gasoline Price']

In [33]:
columnas_wdp2=df_wdp2.columns.tolist()
print(columnas_wdp2)

['GDP', 'Gross primary education enrollment (%)', 'Gross tertiary education enrollment (%)', 'Infant mortality', 'Largest city', 'Life expectancy', 'Maternal mortality ratio', 'Minimum wage', 'Official language', 'Out of pocket health expenditure', 'Physicians per thousand', 'Population', 'Population: Labor force participation (%)', 'Tax revenue (%)', 'Total tax rate', 'Unemployment rate', 'Urban_population', 'country', 'coordinates']

In [19]:
#Ponemos columnas en minuscula para mejor comparación
columnas_comunes = [col for col in columnas_wdp1 if col.lower() in columnas_wdp2]
print(columnas_comunes)

['Country']

3_Utiliza el método de unión de Pandas que consideres más adecuado para combinar los datos de ambos años en un solo DataFrame.

In [44]:
df_merge=df_wdp1.merge(df_wdp2, left_on="Country", right_on="country", how="left")

In [45]:
df_merge.shape

(195, 35)

4_Explica por qué elegiste ese método de unión y cómo se llevaron a cabo los pasos anteriores.

In [ ]:
#Uniremos con merge ya que tenemos columnas que tienen valores del mismo tipo (países) aunque las columnas se llamen dieferente. 
#Como no sabemos si los valores de la columna de unión son los mismos, vamos a hacer un left join para asegurarnos de que conserva
#todos las filas del DF izquierdo y que incluye aquellas de la derecha que no tiene coincidencia con el DF izquierda. 
#En nuestro caso, al haber coincidencia de todas las filas en ambos DF podríamos haber optado por un inner, pero somos conservadoras :D

## Ejercicios de Limpieza

1_Después de la unión de datos, tenemos dos columnas de "country". Elimina una de ellas.

In [47]:
df_merge.drop(labels="country", axis=1, inplace=True)

KeyError: "['country'] not found in axis"

In [48]:
df_merge.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population',
       'coordinates'],
      dtype='object')

2_Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:
- No tengan espacios.
- Estén en minúscula.
- No tengan paréntesis, es decir, quitar "(%)", "(Km2)".
- Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.
- Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

3_La columnas coordinates tiene la latitud y la longitud en una sola columna.

Crea dos columnas nuevas: una con la **longitud** y otra con la **latitud**.

Una vez hecho, elimina la columna de coordinates.

4_Elimina los "%" de los valores de las columnas.: unemployment_rate, total_tax_rate, tax_revenue, population_labor_force_participation, out_of_pocket_health_expenditure, gross_tertiary_education_enrollment, gross_primary_education_enrollment, forested_area, cpi_change, agricultural_land.

5_Elimina "$" en las columnas de gasoline_price, gdp, minimum_wage.

6_Guarda el DataFrame para usarlo en el pairprogramming de mañana.

## Ejercicios de Filtrado

1_Encuentra todos los países cuya mortalidad infantil esté entre 40 y 50 personas por kilómetro cuadrado.

2_Encuentra los países cuyas tasas de natalidad son mayores o iguales a 20 y su esperanza de vida es mayor de 75 años.

3_Encuentra las ciudades cuyos paises contienen la palabra "la" en su nombre.

4_Encuentra los países cuyos medicos por cada 1000 habitantes (physicians_per_thousand) sea mayores de 5.

5_Encuentra los países cuyatasa de fertilidad sea mayor a 6.

6_Encuentra los países cuya moneda es el euro (EUR) y tienen una tasa de natalidad superior al promedio.

7_Encuentra los países cuyas tasas de mortalidad infantil son superiores a 70